#calc_body {
	margin: 10% auto;
	height: 1000px;
	width: 700px;
	background-color: grey;
	box-shadow:3px 0 0 0.6px;
	border-radius: 10px;
}

#calc_screen {
	width:100%;
	height: 150px;
	background-color: pink;
	text-align: right;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 2px solid grey;
}

#calc_number {
	padding-top:30px;
	padding-right:20px;
}

#calc_tracker {
	padding-top:30px;
	padding-right:20px;
}

.calc_button {
	margin: 40px auto;
	height:80px;
	width: 80px;
	border-radius: 6px;
	box-shadow: 1px 0 0 0.6px;
}

.calc_button_row {
	margin: 0 auto;
}

#calc_equals {
	margin-left:55px;
}

#calc_dot {
	margin-left:140px;
}

#calc_zero {
	margin-left:20px;
	width:250px;
}

#calc_clear {
	width: 100%;
}
